.CrearSwiper {
    height: 100vh;

}

.cuerpoSwiper {
    display: flex;
}

.pieSwiper {
    background-color: pink;
    height: 6vh;
}

.form-crear-Swiper {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.crear-Swiper-form {
    width: 100%;
    margin-left: 50px;
}

.crear-Swiper-form h2 {
    font-size: 3rem;

}

.input-box-crear-Swiper {

    font-size: 1.5rem;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.input-box-crear-Swiper input,
textarea {
    margin-right: 150px;
    width: 60%;
    border-radius: 8px;
    border: 0px;
    background-color: #d6d8da;
    border-radius: 8px;
    font-size: 1.2rem;
}

.input-file-crear-Swiper input {
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 30px;
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: 0px;
    background-color: #d6d8da;
    border-radius: 8px;
    font-size: 1.2rem;
}

.btn-crear-Swiper {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

.btn-crear-Swiper button {
    background-color: pink;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}