.CrearServicio {
    height: 100vh;

}

.cuerpoServicio {
    display: flex;
    height: 82.5vh;
}

.pieServicio {
    background-color: pink;
    height: 7vh;
}

.form-crear-servicio {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.crear-servicio{
    width: 100%;
    background-color: rgb(107, 174, 228) ;
    border-radius: 8px;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 1px;
}

.crear-servicio-form {
    width: 80%;
    margin-left: 50px;
}

.form-crear-servicio h2 {
    font-size: 3rem;

}

.input-box-crear-servicio {
    font-size: 1.5rem;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.input-box-crear-servicio input,
textarea {
    margin-right: 150px;
    width: 60%;
    border-radius: 8px;
    border: 0px;
    background-color: #d6d8da;
    border-radius: 8px;
    font-size: 1.2rem;
}

.input-file-crear-servicio input {
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 30px;
    width: 87%;
    height: 50px;
    border-radius: 8px;
    border: 0px;
    background-color: #d6d8da;
    border-radius: 8px;
    font-size: 1.2rem;
}

.btn-crear-servicio {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}

.btn-crear-servicio button {
    background-color: pink;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}