.Agendar{
    height: 100vh;
}
.menuAgendar {
    width: 100%;
    background-color: none;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    width: 20vh;
}

.headeragendar {
    grid-area: headeragendar;
}

.agendar {
    height: 73vh;
}

.pieagendar {
    grid-area: pieagendar;
    background-color: pink;
    height: 6vh;
}

.agendarcita {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;

}

.datosagendar {
    background-color: #e6f3ff;
    /* Azul claro */
    border: 1px solid #b3d4fc;
    /* Borde azul suave */
    border-radius: 8px;
    /* Bordes redondeados */
    padding: 20px;
    /* Espacio interior */
    margin: 10px;
    /* Espacio exterior */
    width: 800px;
    /* Ancho del contenedor */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
}

.labelsAndInputs-agendar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1rem !important;
    margin-bottom: 8px;

}
.labelsAndInputs-agendar-input-select{
    width: 60% !important;
    border-radius: 8px !important;
    border: 0px !important;
    background-color: #d6d8da !important;
    border-radius: 8px !important;
    padding: 8px 0px 8px 10px !important;
    font-size: 0.9rem !important;
    margin-right: 0px !important;
}
.agendar h1{
    font-size: 40px;
    justify-content: center;
    margin-top: 70px;
}
.btnagendar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnagendar button{
    background-color: pink;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}