.Registro {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.7fr 0.2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "headerRegistro"
        "registro"
        "pieregistro";
}

.headerRegistro {
    grid-area: headerRegistro;
    background-color: #d7c3e2;
    height: 70px;
    display: flex;
    
}

.registro {
    grid-area: registro;
}

.pieregistro {
    grid-area: pieregistro;
}

.headerRegistro img {
    display: flex;
    margin-top: 5px;
    width: 200px;
    height: 60px;
    margin-left: 100px;
}
.header-registro-datos{
    display: flex;
    justify-content: end;
    width: 60%;
}
.inicio-Registro {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 200px;

}

.inicio-Registro-button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.inicio-Registro-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;

}
.formRegistro{
    display: flex;
    justify-content: center;
}

.formRegistro h1{
    font-size: 50px;
    justify-content: start;
    margin-top: 20px;
}

.Registros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.7fr;
    grid-auto-columns: 1fr;
    gap: 0px 100px;
    grid-auto-flow: row;
    grid-template-areas:
        "registro1 registro2";
}
.registro1 {
    grid-area: registro1;
}

.registro2 {
    grid-area: registro2;
    
}
.labelsAndInputs{
    margin-top: 15px;
    font-size: 18px;
}

.labelsAndInputs input, select{
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    background-color: #d6d8da;
    border-radius: 8px;
    padding: 8px 0px 8px 10px;
}
.btnRegistrar {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.btnRegistrar button {
    background-color: pink;
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
.A {
    display: flex;
    justify-content: end;
}
.icon-house{
    font-size: 25px;
    margin-right: 5px;
}