
.ResetPassword {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.9fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo-ResetPassword reset"
        "pie pie";
}
.reset{
    grid-area: reset;
    backdrop-filter: blur(12px); /* Efecto de desenfoque */
    padding: 40px;
    border-radius: 15px;
    color: #E6E8EC; /* Texto blanco-gris para mayor contraste */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.8); /* Sombras negras más intensas */
    width: 100%;
    max-width: 600px;
    margin: auto;

}
.errores{
    color: #000;
}
.logo-ResetPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo-ResetPassword;
    width: 100%;
    max-width: 600px;
    border-right: 2px solid black;
}
.logo-ResetPassword img{
    width: 600px;
}
.pie {
    grid-area: pie;
}

.reset h2{
    color: #000; /* Azul muy claro para el título */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.passwordReset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.passwordReset label{
    font-weight: 600;
    color: #000; /* Azul claro apagado para las etiquetas */
    font-size: 14px;
    margin-top: 10px;
}
.passwordReset input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #d6d8da; /* Fondo más oscuro */
    color: #000; /* Texto blanco-gris */
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.passwordReset input:focus {
    border: 1px solid pink; /* Azul más oscuro en foco */
    box-shadow: 0 0 8px pink; /* Sombra azul suave */
}

.passwordReset input::placeholder{
    color: #000; /* Placeholder gris claro */
    opacity: 0.8;
}


.btnConfirPassw{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 3px;
    text-align: center;
}

.btnConfirPassw button{
    background-color: pink   ; /* Azul-negro para botones */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;

    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btnConfirPassw button:hover {
    background-color: #1C285A; /* Azul-negro más oscuro en hover */
    transform: translateY(-2px);
}

.btnConfirPassw button:active {
    transform: translateY(0);
}